# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.iml
.idea/

# Node / Vue
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Sistema
.DS_Store
Thumbs.db

# Docker
volumes/
*.pid